
<h3>Easylancer<h3>
<h3>Bem vindo a sua plataforma de freelance!<h3>

<h3>Crie sua conta!<h3>


<%= link_to 'REGISTRE-SE AQUI COMO FREELANCER',  new_employer_registration_url %></a>

<br>
<br>
<br>

<%= link_to 'REGISTR-SE AQUI COMO CONTRATADOR',  new_employer_registration_url %></a>




