<h3> Projetos disponíveis: <h3>

<%if @open_projects.empty? %> 
   <h3> Nenhum projeto disponível </h3>
<%else%>       
   <%@open_projects.each do |p|%>
   <%= p.title%>
   <br>
   <%end%> 

<%end%>  