<h3> Projetos que participo: <h3>

<%if @proposals.empty? %> 
   <h5> Você possui nenhum projeto </h5>
<%else%>       
   <%@proposals.each do |p|%>
   
    <%= link_to p.project.title, p %> -
    <%= Proposal.human_enum_name(:status, p.status) %>
    



    <br>
   <%end%> 
<%end%>  